<plugin name='casr-est-client' version='0.1' grailsVersion='2.1 &gt; *'>
  <author>James Jones</author>
  <authorEmail>james@mail.usf.edu</authorEmail>
  <title>CAS Rest Client Plugin</title>
  <description>The CAS Rest Client Plugin provides a mechanism to execute REST based services protected by CAS and CAS Spring Security.

Usage
-----

The plugin will inject the following dynamic methods in both services and controllers:

 * `withCASRest(String serviceUrl,String method = "GET",def query=[:])` - executes a service wrapped in CAS using the REST plugin
 * `withCASSpringSecurityRest(String serviceUrl,String method = "GET",def query=[:],String springSecurityBaseUrl)` - executes a service wrapped in CAS Spring Security using the REST plugin
 
The properties are described as:

 * serviceUrl - The full URL used for the service
 * method - The HTTP method to use (GET,PUT,DELETE,POST). The default is "GET"
 * query - A hashmap of key/value pairs to be passed to the service
 * springSecurityBaseUrl - The base URL of your app that is using Spring Security (not the full service URL, this is used to get the JSESSIONID for spring security)

Configuration
-------------
grails.config.locations = [ "file:CASRestClientConfig.groovy" ]

At install, your `Config.groovy` will have the following appended to it:

CASRestClient.cas.server = 'https://authtest.it.usf.edu'
CASRestClient.cas.ticketsPath = '/v1/tickets'
CASRestClient.cas.username = 'YourCASUserName'
CASRestClient.cas.password = 'YourCASPassword'

You'll need to specify the correct credentials and CAS server info for your setup.

Example
-------

String result = withCasRest("https://dev.it.usf.edu/nams/ws_convert","GET",[submit_type:"netid",return_type:"mail","return":"json",value:"james"])


The result will be as a string: {"response":"success","netid":"james","mail":"james@usf.edu"}

You will have to do any type conversion to JSON,XML,etc as the output is a raw string.class.

</description>
  <documentation>http://bullpen.jira.com/wiki</documentation>
  <type>CASRestClientGrailsPlugin</type>
  <resources>
    <resource>edu.usf.CASRestClient.CASRestServiceCallService</resource>
    <resource>edu.usf.CASRestClient.CASTicketRetrievalService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='http://repository.codehaus.org' url='http://repository.codehaus.org/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='Codehaus' url='http://repository.codehaus.org/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.codehaus.groovy.modules.http-builder' name='http-builder' version='0.5.0' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements>
    <plugin name='rest' version='0.7 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>